<div style="height: 1px; width:100%; position: relative;"></div>
<div
  style="height: 5%; width:100%; position: fixed; top:0; left:0; background: linear-gradient(to right, rgb(48,67,112), rgb(69,86,126)); display: flex;">
  <div>

  </div>
  <input type="image" src="assets/images/logo_amtube-nobg.png"
    style="height: 100%; width: fit-content; margin-left:0px; margin-right: auto;" (click)="onHome()"
    [disabled]="!logged">


  <div style="width:100%;" *ngIf="logged" class="navbar">
    <div class="search-container">
      <input type="text" placeholder="Search..">
      <button type="submit"><i class="fa fa-search"></i></button>
    </div>
    <button class="buttonTab"
      style="background: transparent; padding:none; margin: none; border: none; color: white; height:100%"
      (click)="onNotifications()">
      <mat-icon>notification_important</mat-icon>
    </button>
    <button class="buttonTab" mat-button (click)="onMyVideos()">My Videos</button>
    <button class="buttonTab" mat-button (click)="onSubs()">Subscriptions</button>
    <button class="buttonTab" mat-button (click)="onProfile()">Profile</button>
    <button class="buttonTab" mat-button (click)="onLogout()">Logout</button>
  </div>
  <div style="margin-left:75%;width:100%;" *ngIf="!logged">

    <button class="buttonTab" mat-button (click)="onLogin()" style="margin-right:10%">Login</button>
    <button class="buttonTab" mat-button (click)="onRegister()">Sign Up</button>
  </div>
</div>