<div style="height: 1px; width:100%; position: relative;"></div>
<div
  class="navbarContainer">
  <div>
  </div>
  <img src="assets/images/logo_amtube-nobg.png" style="height: 100%; width: fit-content; margin-left:0px; margin-right: auto;" (click)="onHome()">

  <div style="width:100%;" *ngIf="logged$|async; else notLoggedIn" class="navbar">
    <div class="search-container">
      <input type="text" placeholder="Search..">
      <button type="submit"><i class="fa fa-search"></i></button>
    </div>
    <button class="buttonTab"
      style="background: transparent; padding:none; margin: none; border: none; color: white; height:100%"
      (click)="onNotifications()">
      <mat-icon>notification_important</mat-icon>
    </button>
    <button class="buttonTab" mat-button (click)="onMyVideos()">My Videos</button>
    <button class="buttonTab" mat-button (click)="onSubs()">Subscriptions</button>
    <button class="buttonTab" mat-button (click)="onProfile()">Profile</button>
    <button class="buttonTab" mat-button (click)="onLogout()">Logout</button>
  </div>
  <ng-template #notLoggedIn style="margin-left:75%;width:100%;" >

    <div style="display:flex; padding-right: 1em"><button class="buttonTab" mat-button (click)="onLogin()" >Login</button>
      <button class="buttonTab" mat-button (click)="onRegister()">Sign Up</button>
    </div>

  </ng-template>
</div>