<div class="box" >
    <div class="subscriptionBox" style="overflow-y: scroll;" *ngIf="mySubscribersReady" >
        <div style="display: flex; justify-content:center; align-content:space-around;">
            <h1 class="title">My Subscribers</h1>
        </div>

        <div *ngIf="mySubscribedTo.length == 0">
            <h2 class="title">There are no users subscribed to you!</h2>
        </div>

        <div *ngIf="mySubscribedTo.length != 0">
            <div class="detailsContainer" *ngFor="let subscription of mySubscribedTo">
                <div class="userDetailsContainer">
                    <div class="userLogo" (click)="goToUser(subscription.subscriberId)">
                        {{subscription.subscriber.charAt(0).toUpperCase()}}
                    </div>
                    <div class="username" (click)="goToUser(subscription.subscriberId)">{{subscription.subscriber}}
                    </div>

                </div>
                <div class="dateDetailsContainer ">
                    <div class="label">Since: </div>
                    <div class="text">{{subscription.date}}</div>

                </div>
            </div>
        </div>
    </div>
    <div class="subscriptionBox" style="overflow-y: scroll;" *ngIf="mySubscribedToReady" >
        <div style="display: flex; justify-content:center; align-content:space-around;">
            <h1 class="title">My Subscriptions</h1>
        </div>

        <div *ngIf="mySubscribers.length == 0">
            <h2 class="title">You are not subscribed to any user!</h2>
        </div>
        <div  *ngIf="mySubscribers.length != 0">
            <div class="detailsContainer" *ngFor="let subscription2 of mySubscribers">

                <div class="userDetailsContainer">
                    <div class="userLogo" (click)="goToUser(subscription2.subscribedToId)">
                        {{subscription2.subscribedTo.charAt(0).toUpperCase()}}
                    </div>
                    <div class="username" (click)="goToUser(subscription2.subscribedToId)">{{subscription2.subscribedTo}}
                    </div>

                </div>
                <div class="rightDetailsContainer">
                    <div class="dateDetailsContainer">
                        <div class="label">Since: </div>
                        <div class="text">{{subscription2.date}}</div>
                    </div>
                    <button class="buttonUnsubscribe" (click)="deleteSubscription(subscription2.id)">Unsubscribe</button>

                </div>
            </div>
        </div>

    </div>

</div>