<div style="height: 1px; width:100%; position: relative;"></div>
<div
    style="height: 1vw; width:100%; position: fixed; bottom: 0;left:0;;
    background: linear-gradient(to right, rgb(48,67,112), rgb(69,86,126)); justify-content: center;">
    <div style="justify-content: space-around; width:50%;">
        <p>2022</p>
        <p>-</p>
        <p>Laboratory of Advanced Programming</p>
        <p>-</p>
        <p>2022406 Angelo Casciani</p>
        <p>-</p>
        <p>2017104 Marco De Luca
        </p>
    </div>

</div>