<div class="login">

    <form [formGroup]="loginFormModel">
        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Username</mat-label>
            <input formControlName="username" minlength="5" maxlength="20" matInput placeholder="Enter your username..." value="">
        </mat-form-field>
        <p class="text08" color="danger" *ngIf="loginFormModel.errors">Username Required!</p>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input formControlName="password" type="password" minlength="5" maxlength="30" matInput placeholder="Enter your password..." value="">
        </mat-form-field>
        <p class="text08" color="danger" *ngIf="loginFormModel.errors">Password Required!</p>

        <button mat-button expand="block" color="primary" (click)="onLogin()" [disabled]="!loginFormModel.valid">Login</button>
        <button mat-button expand="block" (click)="goRegister()" color="primary" expand="block">Sign Up</button>
    </form>

</div>