<div style="display: flex; justify-content:center; align-content:space-around; margin-top:5%">
    <h1 style="color: #304370; vertical-align:middle; ">Login</h1>
</div>

<form [formGroup]="loginFormModel"
    style="display: grid; justify-content:center; align-content:center;  margin-top:5%;">
    <div style="padding:0.2vw; margin-bottom:5%; width:100%; display:flex;  ">
        <label style="margin-right: 10%"><b>Username:</b></label>
        <input formControlName="username" minlength="5" maxlength="20" matInput placeholder="Enter your username..."
            value="" style="width:100%">
        <p class="text08" color="danger" *ngIf="loginFormModel.errors">Username Required!</p>
    </div>

    <div style="padding:0.2vw; margin-bottom:5%; width: 100%; display:flex; margin-top:10%">
        <label style="margin-right: 10%"><b>Password:</b></label>
        <input formControlName="password" type="password" minlength="5" maxlength="30" matInput
            placeholder="Enter your password..." value="" style="width:100%">
        <p class="text08" color="danger" *ngIf="loginFormModel.errors">Password Required!</p>

    </div>

    <button class="buttonTab" mat-button expand="block" color="primary" (click)="onLogin()"
        [disabled]="!loginFormModel.valid" style="margin-top:10%">Login</button>
</form>