<div fxLayout="row">
    <div fxFlex="50%" class="video-details">
        <app-video-player *ngIf="videoAvailable" [videoUrl]="videoUrl"></app-video-player>
        <div class="mat-title">{{videoTitle}}</div>
        <div fxLayout="row">
            <div fxFlex="50%">
                <div class="mat-subheader">Description:</div>
                <span>{{videoDescription}}</span>
            </div>
            <div fxFlex="50%">
                <div>Upload Date: {{videoDate}}</div>
                <div>Likes: {{likesCount}}</div>
            </div>
        </div>
    </div>
    <div fxFlex="5%"></div>
    <div fxFlex="5%"></div>
</div>

